body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.task-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.task-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.task-form input {
  height: 30px;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.task-form button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}

.task-list {
  display: flex;
  flex-wrap: wrap;
}

.task {
  width: 30%;
  margin-right: 3.3333%;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f7f7f7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.task h2 {
  font-size: 24px;
  margin-top: 0;
}

.task p {
  margin: 0;
}
